.container
  .row
    .col-sm-3
      %nav{id: 'toc', 'data-toggle' => 'toc', class: 'sticky-top'}

    .col-sm-9
      %h1{id: 'wstep'}
        Wstęp

      %p
        Program nawozowy.pl powstał jako efekt kilkumiesięcznej pracy 
        
      %h1{id: 'rejestracja'}
        Rejestracja

      %h2{id: 'rejestracja-testowanie'}
        Wersja DEMO
        
      %h2{id: 'rejestracja-produkcja'}
        Wersja produkcyjna

      %h1{id: 'logowanie'}
        Logowanie
      %p
        - 1..100.each do |n|
          = n
        
