// Place all the styles related to the pomoc controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#instrukcja {
	 h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
		  display: block;
		  content: " ";
		  height: 60px;
		  margin-top: -60px;
		  visibility: hidden;
	 }

}
